@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color: linear-gradient(
    45deg,
    #845ec2,
    #d65db1,
    #ff6f91,
    #ff9671,
    #ffc75f,
    #f9f871
  );
  --colors: linear-gradient(
    45deg,
    #362650,
    #502543,
    #442028,
    #583528,
    #5e4a25,
    #4e4e25
  );
}

.container {
  font-family: "Jost", sans-serif;
  display: flex;
  font-size: 1.2rem;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 949px;
  background-size: 400%;
  background-image: var(--color);
  animation: animate 20s linear infinite alternate;
}
@keyframes animate {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
.box {
  border: 2px solid black;
  height: 500px;
  width: 500px;
  background: none;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;

  transition: all 0.2s ease-in-out;
}
.box:hover {
  transform: scale(1.1);
  background-color: blueviolet;
  color: white;
}
.capt {
  text-transform: capitalize;
}

.title {
  margin-bottom: 50px;
  margin-top: 40px;
  font-size: 2.4rem;
}
input {
  width: 100%;
  padding: 9px;
  font-size: 1.3rem;
  color: black;
  border: 2px solid black;
  margin-bottom: 60px;
  margin-right: 9px;
}
.si {
  margin-top: 10px;
}
.search {
  display: flex;
  flex-direction: row;
}

@media (max-width: 480px) {
  .container {
    font-size: 1rem;
    height: 812px;
  }
  .title {
    font-size: 1.5rem;
  }
  .box {
    height: 300px;
    width: 300px;
  }
  input {
    padding: 3px;
    font-size: 1rem;
    margin-bottom: 60px;
  }
  .si {
    margin-top: 4px;
  }
}
